<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>{{userLogin}}</strong></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        sdfsdf
                    </div>
                    <div class="col-md-6">
                        sdfsdf
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>